/** dinnerbell css **/

body {
	background:#666;
	font-family: 'IM Fell DW Pica', serif;
}

h1 {
	text-align: center;
	font-family: 'IM Fell DW Pica', serif;
	font-size: 20px;
	color:#cecece;
	text-transform: uppercase;
	font-weight: normal;
}